<div class="container">
  <h1>Your Team's Canvas</h1>
  <!-- Canvas -->
  <table id="bizcanvas" cellspacing="0" border="1">
    <!-- Upper part -->
    <tr>
      <td colspan="2" rowspan="2">
        <h4>Key Partners</h4>
      </td>
      <td colspan="2">
        <h4>Key Activities</h4>
        <p>...</p>
      </td>
      <td colspan="2" rowspan="2">
        <h4>Value Proposition</h4>
        <p>...</p>
      </td>
      <td colspan="2">
        <h4>Customer Relationship</h4>
        <p>...</p>
      </td>
      <td colspan="2" rowspan="2">
        <h4>Customer Segments</h4>
        <p>...</p>
      </td>
    </tr>

    <!-- Lower part -->
    <tr>
      <td colspan="2">
        <h4>Key Resources</h4>
        <p>...</p>
      </td>
      <td colspan="2">
        <h4>Channels</h4>
        <p>...</p>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <h4>Cost Structure</h4>
        <p>...</p>
      </td>
      <td colspan="5">
        <h4>Revenue Streams</h4>
        <p>...</p>
      </td>
    </tr>
  </table>
  <!-- /Canvas -->
</div>
