<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Cloud Conformance Survey
      </h1>

      <div class="intro">
        <p>As application development project solutions are proposed by vendors or ministries there is an increasing risk of failure because of a lack of early stage alignment with the DevExchange and Pathfinder initiatives.</p>

        <p>The set of questions below are meant to guide a conversation about a specific app development solution in order to highlight risk based on the values we hold for successful delivery. Alignment does not guarantee success but significantly reduces the risk of failure.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default btn-md login-button" routerLink="prv" tabindex="1">
        <strong> Let’s do this!</strong><br>
      </a>
    </div>
  </div>

</div>
