<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Cloud Conformance Survey
      </h1>

      <div class="intro">
        <p>This tool will help teams meaure their alignment to BC Gov technical practices and approaches.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default btn-md login-button" routerLink="prv" tabindex="1">
        <strong> Let’s do this!</strong><br>
      </a>
    </div>
  </div>

</div>
